[submodule "Lobddit/frameworks/Alamofire"]
	path = Lobddit/frameworks/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Lobddit/frameworks/Haneke"]
	path = Lobddit/frameworks/Haneke
	url = https://github.com/Haneke/Haneke.git
[submodule "Lobddit/frameworks/CHTCollectionViewWaterfallLayout"]
	path = Lobddit/frameworks/CHTCollectionViewWaterfallLayout
	url = https://github.com/chiahsien/CHTCollectionViewWaterfallLayout.git
[submodule "Lobddit/frameworks/APESuperHUD"]
	path = Lobddit/frameworks/APESuperHUD
	url = https://github.com/apegroup/APESuperHUD.git
